/* Bunger, Liao, Marcinko, Regier, Robinson */

body {
  	background-color: lightblue;
  	margin-left: 30%;
  	margin-right: 30%;
}

h1 {
  color: white;
  background: navy;
  text-align: center;
  font-style: italic;
  font-family: "Lucinda Consle";
}

