/* Bunger, Liao, Marcinko, Regier, Robinson */

/************************************************************************/
/* Template for new element styling:
    [tag, class, id]
        /* Positioning and Display */
        /* Borders */
        /* Coloring */
        /* Fonts and Text */
        /* Animation */
        /* Other */
/************************************************************************/

/* CSS imports: Not useful for javascript, so commented out in this file */

/* This is the stylesheet that contains the primary colors for the theme selector */
/* @import url("./themes/master-theme-sheet.css"); */

/* All the themes */
/* @import url("./themes/light/orange-red-theme.css"); */
/* @import url("./themes/light/green-blue-theme.css"); */
/* @import url("./themes/light/pink-purple-theme.css"); */
/* @import url("./themes/dark/dark-red-theme.css"); */
/* @import url("./themes/dark/dark-blue-theme.css"); */
/* @import url("./themes/dark/dark-green-theme.css"); */


/************************/
/***  Gloabl Styling  ***/
/************************/


body {
    /* Positioning and Display */
    margin: 0px;
    /* Fonts and Text */
    font-family: var(--font-sans);
    color: var(--color-dark);
}

/*******************************/
/***  App Container Styling  ***/
/*******************************/

#app-container {
    /* Positioning and Display */
    display: grid;
    grid-template-columns: [settings-width]30% auto;
    grid-template-rows: [app-height]90% 10%;
    background-color: var(--color-light);
    width: 100%;
    height: 100vh;
}

/******************************/
/***  Settings Bar Styling  ***/
/******************************/

#settings {
    /* Positioning and Display */
    position: absolute;
    bottom: 0;
    top: 0;
    width: 30%;
    display: grid;
    grid-area: settings;
    grid-template-rows:
        [settings-guide]10%
        [sliders-guide]auto
        [selector-guide]10%
        [end-settings-guide]auto;
    grid-template-areas:
        "sliders-header"
        "sliders"
        "selector-header"
        "selector"
    ;
    z-index: 2;
    /* Coloring */
    background-color: var(--group-color);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
    /* Fonts and Text */
    text-align: center;
}


/************************/
/***  Slider Styling  ***/
/************************/

.statistic-slider-container {
    /* Positioning and Display */
    display: grid;
    grid-template-columns: [remove-statistic-guide]7% [stat-option-title]auto 7%;
	grid-template-rows: [slider-title]33.3% auto [slider-ticks]33.3%;
    grid-template-areas:
        "slider-remover slider-title slider-metadata"
        "slider-remover slider slider"
		"slider-remover ticks ticks"
    ;
    align-self: start;
    margin-bottom: 4px;
    padding: 8px;
    /* Coloring */
    background-color: var(--subgroup-color);
}

.statistic-slider-container:hover {
    /* Coloring */
    background-color: var(--subgroup-color-lighter);
}

.statistic-slider-remover {
    /* Positioning and Display */
    display: grid;
    grid-area: slider-remover;
    align-items: center;
    /* Fonts and Text */
    font-size: 32px;
    /* Other */
    cursor: pointer;
    user-select: none;
}

.statistic-slider-title {
    /* Positioning and Display */
    display: grid;
    grid-area: slider-title;
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 5px;
}

.statistic-slider-metadata {
    /* Positioning and Display */
    display: grid;
    grid-area: slider-metadata;
    align-items: center;
    padding-right: 4px;
    /* Fonts and Text */
    font-size: 18px;
    /* Other */
    cursor: help;
    user-select: none;
}

.statistic-slider {
    /* Positioning and Display */
    display: grid;
    grid-area: slider;
    height: 10px;
    margin: 10px;
    /* Borders */
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    /* Coloring */
    background: linear-gradient(to right, var(--color-light) 0%, var(--accent-color-light) 100%);
    box-shadow: 0px 0px 2px inset var(--secondary-color-light);
    /* Other */
    -webkit-appearance: none !important;
    z-index: 2;

}

/* TODO: This will be fixed at a later time, as it creates a weird scrollbar */
.statistic-slider-ticks {
    /* Positioning and Display */
	display: flex;
	justify-content: space-between;
	grid-area: ticks;
	width: 103.6%;
	margin-left: 18px;
	margin-top: -20px;
}

.statistic-slider-ticks p {
    /* Positioning and Display */
	position: relative;
	display: flex;
	justify-content: center;
    text-align: center;
	height: 8px;
	margin-right: 50px;
    width: 1.66px;
    /* Coloring */
    background: var(--color-dark);
    /* Fonts and Text */
	font-size: 12px;
    line-height: 35px;
}

#statistics-sliders-header {
    /* Positioning and Display */
    grid-area: sliders-header;
    display: grid;
    align-items: center;
    /* Coloring */
    background-color: var(--accent-color-light);
    box-shadow: 0px 0px 30px inset var(--secondary-color-light);
    /* Fonts and Text */
    font-size: 24px;
    font-weight: bold;
}

#statistics-sliders {
    /* Positioning and Display */
    grid-area: sliders;
    display: grid;
    padding: 4px;
    align-content: start;
    /* Other */
    overflow-y: auto;
    /* Note: The following two settings are specific to Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color-light) var(--color-light);
    /* Note: The following settings are specific to Chrome and webkit browsers */
}::-webkit-scrollbar {
    width: 8px;
}::-webkit-scrollbar-track {
    width: 8px;
    background-color: var(--color-light);
}::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-light);
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: var(--secondary-color-light);
}

/**************************/
/***  Selector Styling  ***/
/**************************/

.statistic-option {
    /* Positioning and Display */
    display: grid;
    grid-template-columns: [add-statistic-guide]7% [stat-option-title]auto 7%;
    grid-template-rows: auto;
    grid-template-areas:
        "statistic-option-add statistic-option-title ."
    ;
    height: 20px;
    margin-bottom: 4px;
    padding: 8px;
    /* Coloring */
    background-color: var(--subgroup-color);
    /* Other */
    cursor: pointer;
}

.statistic-option:hover {
    /* Coloring */
    background-color: var(--subgroup-color-lighter);
}

.statistic-option:hover .add-statistic {
    /* Text and Font */
    color: var(--color-dark);
}

.add-statistic {
    /* Positioning and Display */
    grid-area: statistic-option-add;
    /* Fonts and Text */
    color: var(--subgroup-color);
    /* Other */
    user-select: none;
}

.statistic-option-title {
    /* Positioning and Display */
    grid-area: statistic-option-title;
}

.statistic-option-metadata {
    /* Other */
    cursor: help;
    user-select: none;
}

#statistics-selector-header {
    /* Positioning and Display */
    display: grid;
    grid-area: selector-header;
    align-items: center;
    /* Coloring */
    background-color: var(--accent-color-light);
    box-shadow: 0px 0px 30px inset var(--secondary-color-light);
    /* Fonts and Text */
    font-size: 24px;
    font-weight: bold;
}

#statistics-selector {
    /* Positioning and Display */
    grid-area: selector;
    padding: 4px;
    /* Other */
    overflow-y: auto;
    /* Note: The following two settings are specific to Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color-light) var(--color-light);
    /* Note: The following settings are specific to Chrome and webkit browsers */
}::-webkit-scrollbar {
    width: 8px;
}::-webkit-scrollbar-track {
    width: 8px;
    background-color: var(--color-light);
}::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-light);
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: var(--secondary-color-light);
}

/**********************************/
/***  SVG/Map Specific Styling  ***/
/**********************************/

#map-container {
    /* Positioning and Display */
    grid-row: 1/1;
    grid-column: 2/2;
    align-self: center;
    /* Coloring */
    background-color: var(--color-light);
    /*grid-row: 0/1;
    grid-column: 2/4;
    align-self: center;*/
}

#us-map {
    /* Positioning and Display */
    align-self: center;
    max-width: 100%;
    /* Other */
    filter: drop-shadow(0px 0px 3px var(--secondary-color-dark));
}

/*************************/
/***  Nav-bar Styling  ***/
/*************************/

#nav-bar {
    /* Positioning and Display */
    grid-row: 2/2;
	grid-column: 1/4;
    display: grid;
    align-items: center;
	grid-template-columns:
        [right-nav-padding]5.5% [spacing]29.5% [arrow]30% [legend]29.5% [theme-selector]5.5%
    ;
    grid-template-areas: "spacing1 spacing2 center-nav legend theme-selector" ;
    /* Coloring */
    background-color: var(--subgroup-color);
    /* Other */
    user-select: none;
}

#nav-arrow {
    /* Positioning and Display */
    width: 250px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Animation */
    transition-duration: 0.25s;
}

#nav-arrow:hover {
    /* Animation */
    filter: invert(100%) contrast(60%) drop-shadow(0px 0px 8px var(--accent-color-dark));
    transition-duration: 0.25s;
}

#center-nav {
    /* Positioning and Display */
    display: grid;
    grid-area: center-nav;
    justify-content: center;
}

/*********************/
/*** NE Inspecting ***/
/*********************/


#ne-inspector {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
  width: 80px;
  height: 80px;
  opacity: 66.67%;
  transition: 0.25s;
  /* transform: rotateZ(215deg); */
}

#ne-inspector:hover {
    opacity: 100%;
    width: 90px;
    height: 90px;
    transition: 0.5s;
}

#ne-inspector-container {
    width: 100%;
    height: 100%;
}

#ne-map {
    height: 100%;
    padding-right: 12.5%;
}

/* The Model (background) */
#model {
  display: none; /* Hidden by default */
  align-items: center;
  justify-items: end;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* The Close Button */
#ne-magnifiyer-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#ne-magnifiyer-close:hover,
#ne-magnifiyer-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#map-container {
    /* Positioning and Display */
    grid-row: 1/1;
    grid-column: 2/4;
    align-items: center;
    /* Coloring */
    background-color: var(--color-light);
}

#us-map {
    /* Positioning and Display */
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
}

object {
    /* Other */
    filter: drop-shadow(0px 0px 3px var(--secondary-color-dark));
}

#map-legend-container {
    /* Positioning and Display */
    grid-area: legend;
    justify-self: center;
    align-self: middle;
}

#map-legend {
    /* Positioning and Display */
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}

/******************************/
/*** Theme Selector Styling ***/
/******************************/

#theme-selector {
    /* Positioning and Display */
	grid-area: theme-selector;
	width: 80%;
	height: 80%;
}

#theme-selector:hover {
    /* Animation */
    filter: invert(100%) contrast(60%) drop-shadow(0px 0px 8px var(--accent-color-dark));
    transition-duration: 0.25s;
}

.theme-template {
    /* Positioning and Display */
	width: 60px;
	height: 60px;
	display: inline-grid;
	grid-template-columns: 40% auto;
	grid-template-rows: 75% 25%;
	grid-template-areas:
		"background accent"
		"background secondary"
	;
    margin: 10px;
    /* Borders */
	border: 3px solid #878787;
	border-radius: 40px;
    /* Other */
	overflow: hidden;
}
.theme-template-active {
    /* Positioning and Display */
	width: 60px;
	height: 60px;
	display: inline-grid;
	grid-template-columns: 40% auto;
	grid-template-rows: 75% 25%;
	grid-template-areas:
		"background accent"
		"background secondary"
	;
    margin: 10px;
    /* Borders */
	border: 3px solid #878787;
	border-radius: 40px;
    /* Other */
    box-shadow: 0px 0px 8px #878787;
    overflow: hidden;
}

#dark .theme-template-active {
    /* Coloring */
	border-color: #DDDDDD;
}

#light .theme-template-active {
    /* Coloring */
	border-color: #333333;
}

.background {
    /* Positioning and Display */
	grid-area: background;
	align-items: stretch;
}

.accent {
    /* Positioning and Display */
	grid-area: accent;
	align-items: stretch;
}

.secondary {
    /* Positioning and Display */
	grid-area: secondary;
	align-items: stretch;
}

#theme-container {
    /* Positioning and Display */
	position: absolute;
	bottom: 9.75%;
	right: 0;
	display: none;
	grid-template-columns: 50% auto;
    /* Borders */
    border: 2px solid #808080;
    /* Coloring */
    background-color: #000000;
}

#theme-selector-container {
    /* Positioning and Display */
	grid-area: theme-selector;
	display: grid;
	align-items: stretch;
    align-self: stretch;
	z-index: 3;
}

#theme-selector-container:hover #theme-container {
    /* Positioning and Display */
	display: inline-grid !important;
}

#theme-selector-container:hover #theme-selector {
	/* Animation */
    filter: invert(100%) contrast(60%) drop-shadow(0px 0px 8px var(--accent-color-dark));
    transition-duration: 0.25s;
}

#dark {
    /* Positioning and Display */
	display: grid;
    padding: 10px;
    /* Coloring */
    background-color: #404040;
}

#light {
    /* Positioning and Display */
    display: grid;
    padding: 10px;
    /* Coloring */
    background-color: #CCCCCC;
    /* Other */
    transform: scale(-1, 1);
}

#dark .theme-template:hover {
    /* Other */
	box-shadow: 0px 0px 5px #FFFFFF;
}

#dark .theme-template-active:hover {
    /* Other */
	box-shadow: 0px 0px 5px #BBBBBB;
}

#light .theme-template:hover {
    /* Other */
	box-shadow: 0px 0px 5px #000000;
}

#light .theme-template-active:hover {
    /* Other */
	box-shadow: 0px 0px 5px #333333;
}

#init {
    /* Positioning and Display */
    position: fixed;
    display: grid;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    /* Coloring */
    background-color: #DADADA;
    /* Fonts and Text */
    color: #555555;
    text-align: center;
    /* Other */
    box-shadow: 0px 0px 150px inset #999999;
}

#ellipses {
    /* Fonts and Text */
    font-size: 80px;
    letter-spacing: -5px;
}

/***********************/
/***  About section  ***/
/***********************/

#about-header {
    /* Positioning and Display */
    padding: 30px;
    /* Coloring */
    background-color: var(--group-color);
    /* Fonts and Text */
    text-align: center;
}

#about-content {
    /* Positioning and Display */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 100px;
    /* Coloring */
    background-color: var(--color-light);
    /* Fonts and Text */
    font-size: 20px;
    line-height: 35px;
}

.bottom-social {
    /* Positioning and Display */
    width: 70px;
    height: 70px;
    padding: 5px;
    /* Other */
    filter: invert(var(--inversion));
}

.bottom-social:hover {
    /* Other */
    opacity: 75%;
}

.bottom-social:active {
    /* Other */
    opacity: 50%;
}

#bottom-bar {
    /* Positioning and Display */
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    /* Coloring */
    background-color: var(--group-color);
}

/*******************************/
/***  Metadata Alert Styling ***/
/*******************************/

.alert-container {
    /* display: none; */
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-areas: ". alert .";
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

#metadata-alert {
    background-color: var(--color-light);
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 10px;
    display: grid;
    align-items: center;
    grid-row-gap: 30px;
    justify-content: space-around;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "metadata-title . metadata-date"
        "metadata-notes metadata-notes metadata-notes"
        "metadata-publisher metadata-publisher metadata-publisher"
    ;
    z-index: 12;
}

#metadata-title {
    grid-area: metadata-title;
    font-size: 28px;
}

#metadata-date {
    grid-area: metadata-date;
    font-size: 28px;
}

#metadata-notes {
    grid-area: metadata-notes;
}

#metadata-publisher {
    grid-area: metadata-publisher;
}

.alert-close {
    float: right;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--accent-color);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    user-select: none;
    cursor: pointer;
}

.alert-close:hover {
    background-color: var(--accent-color-light);
}

.alert-close:active {
    background-color: var(--accent-color-dark);
}

.alert-background {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 35px;
    background-color: rgba(120, 120, 120, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    z-index: 11;
}

.alert-body-and-close {
    grid-area: alert;
}

.blurred {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.hidden {
    display: none;
}

.unscrollable {
    overflow: hidden;
}

/******************************/
/***  State Window Section  ***/
/******************************/

#state-window-background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100,0,100,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#state-window-container{
    display: grid;
    background-color: rgba(255,255,255,1); /* full white */
    height: 500px;
    grid-template-columns: 33% 67%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "state-name state-rank"
        "state-display state-window-data-container"
    ;
    /* padding: 10px; */
}

.grid-item{
    background-color: rgba(128,128,255,1); /* blue */
    border: 1px solid rgba(0,0,100,0.7); /* less blue */
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
}

#grid-item-state-name{
    grid-area: state-name;
}

#grid-item-state-rank{
    grid-area: state-rank;
}

#grid-item-state-display{
    grid-area: state-display;
}

#state-window-data-container{
    grid-area: state-window-data-container;
    display: grid;
    background-color: var(--color-light);
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "good-stats good-stats-details"
        "bad-stats bad-stats-details"
    ;
}

#subgrid-item1{
    grid-area: good-stats
}

#subgrid-item2{
    grid-area: good-stats-details
}

#subgrid-item3{
    grid-area: bad-stats
}

#subgrid-item4{
    grid-area: bad-stats-details
}
