/* Bunger, Liao, Marcinko, Regier, Robinson */

/*******************************************************************/
/* Template for new element styling:

    [tag, class, id]
        /* Positioning and Display */

        /* Borders */

        /* Coloring */

        /* Fonts and Text */

        /* Other */

/*******************************************************************/

@import url("orange-red-theme.css");
/* @import url("green-blue-theme.css"); */

#us_map {
	width: 100%;
}

svg {
	stroke-linejoin: round;
    stroke: var(--secondary-color-dark);
    filter: drop-shadow(0px 0px 10px var(--color-grey));
}

path {
    fill: var(--accent-color);
}

body {
    margin: 0px;
    font-family: var(--font-sans);
    color: var(--color-dark);
}

.statistic-option {
    border: 1px solid transparent;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    display: grid;
    grid-template-columns: [add-statistic-guide]7% [stat-option-title]auto 7%;
    grid-template-rows: auto;
    background-color: var(--subgroup-color);
    margin-bottom: 4px;
    padding: 8px;
    height: 20px;
    grid-template-areas:
        "statistic-option-add statistic-option-title ."
    ;
    cursor: pointer;
}

.statistic-option:hover {
    background-color: var(--subgroup-color-lighter);
}

.statistic-option:hover .add-statistic {
    color: var(--color-dark);
}

.add-statistic {
    grid-area: statistic-option-add;
    user-select: none;
    color: var(--subgroup-color);
}

.statistic-option-title {
    grid-area: statistic-option-title;
}

.statistic-option-metadata {
    user-select: none;
}

.statistic-slider-container {
    border: 1px solid transparent;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    display: grid;
    grid-template-columns: [remove-statistic-guide]7% [stat-option-title]auto 7%;
    grid-template-rows: [slider-title]33.3% auto [ticks]33.3%;
    grid-template-areas:
        "slider-remover slider-title slider-metadata"
        "slider-remover slider slider"
		"slider-remover ticks ticks"
    ;
    padding: 8px;
    background-color: var(--subgroup-color);
    margin-bottom: 4px;
}

.statistic-slider-container:hover {
    background-color: var(--subgroup-color-lighter);
}

.statistic-slider-remover {
    display: grid;
    align-items: center;
    grid-area: slider-remover;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

.statistic-slider-title {
    display: grid;
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 5px;
    grid-area: slider-title;
}

.statistic-slider-metadata {
    display: grid;
    align-items: center;
    padding-right: 4px;
    grid-area: slider-metadata;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

/*sliders*/
.statistic-slider {
    display: grid;
    align-items: center;
    grid-area: slider;
    height: 12px;
    margin: 10px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    background: linear-gradient(to right, var(--color-light) 0%, var(--accent-color-light) 100%);
    box-shadow: 0px 0px 2px inset var(--secondary-color-light);
    -webkit-appearance: none !important;
	z-index: 3;
	
}



.ticks {
	display: flex;
	justify-content: space-between;
	grid-area: ticks;
	width: 103.6%;
	margin-left: 18px;
	margin-top: -20px;
	
}

.ticks p {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 1.66px;
	background: black;
	height: 8px;
	line-height: 35px;
	margin-right: 50px;
	font-size: 12px;
}

#app-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: [settings-width]30% auto;
    grid-template-rows: [app-height]90% 10%;
    background-color: var(--color-light);
    grid-template-areas:
        "settings map"
        "settings nav-bar"
    ;
}

#settings {
    grid-area: settings;
    display: grid;
    grid-template-columns: /*[pad-left-guide]4% [pad-right-guide]92% [end-padding-guide]*/auto;
    grid-template-rows: [settings-guide]10% [sliders-guide]auto [selector-guide]10% [end-settings-guide]auto;
    background-color: var(--group-color);
    text-align: center;
    grid-template-areas:
        "sliders-header"
        "sliders"
        "selector-header"
        "selector"
    ;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
}

#statistics-sliders-header {
    grid-area: sliders-header;
    background-color: var(--accent-color-light);
    box-shadow: 0px 0px 30px inset var(--secondary-color-light);
    display: grid;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

#statistics-sliders {
    grid-area: sliders;
    display: grid;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color-light) var(--color-light);
    padding: 4px;
}
#statistics-sliders::-webkit-scrollbar {
    width: 8px;
}

#statistics-sliders::-webkit-scrollbar-track {
    width: 8px;
    background-color: var(--color-light);
}

#statistics-sliders::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-light);
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: var(--secondary-color-light);
}

#statistics-selector-header {
    grid-area: selector-header;
    background-color: var(--accent-color-light);
    box-shadow: 0px 0px 30px inset var(--secondary-color-light);
    display: grid;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

#statistics-selector {
    grid-area: selector;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color-light) var(--color-light);
    padding: 4px;
}

#statistics-selector::-webkit-scrollbar {
    width: 8px;
}

#statistics-selector::-webkit-scrollbar-track {
    width: 8px;
    background-color: var(--color-light);
}

#statistics-selector::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-light);
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: var(--secondary-color-light);
}

#nav-bar {
    background-color: var(--group-color);
    grid-area: nav-bar;
    display: grid;
    align-items: center;
    grid-column: [center-nav-guide]30% [nav-padding]35% auto;
    grid-template-areas: "center-nav .";
}

#nav-arrow {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 45px;
    transition-duration: 0.25s;
}

#nav-arrow:hover {
    filter: invert(100%) contrast(60%) drop-shadow(0px 0px 8px var(--accent-color-dark));
    transition-duration: 0.25s;
}

#center-nav {
    display: grid;
    justify-content: center;
}

#map-container {
    background-color: var(--color-light);
    grid-area: map;
    display: grid;
    align-items: center;
}
